name: CI

on:
  push:
    branches: main
    tags: v*
  pull_request:
    branches: "*"

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-20.04
          - windows-2019
        config:
          - name: lint
            command: |
              # lint steps
              yarn run tsc --noEmit # typecheck files that are not included by webpack or package builds
              yarn run lint:ci
          - name: test
            command: yarn run test --maxWorkers=100%

          # Run the bin scripts to make sure they run successfully
          # Unit tests don't run the _bin_ scripts so this serves as safety net that the scripts run
          - name: sample run
            command: |
              yarn run tsc
              node dist/bin/foxglove-extension.js --help
              rm -rf sample
              node dist/bin/create-foxglove-extension sample
              cd sample && npm run lint

    name: ${{ matrix.config.name }} (${{ matrix.os }})

    steps:
      - uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
          lfs: true

      - name: Configure Node.js
        uses: actions/setup-node@v4.1.0
        with:
          node-version: 20.x

      - run: corepack enable

      - name: Restore cache
        uses: actions/cache@v4.1.2
        with:
          path: |
            .yarn/cache
            **/node_modules
          key: ${{ runner.os }}-yarn-4-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-yarn-4-

      - run: yarn install --immutable
      - run: ${{ matrix.config.command }}
